body {display: flex; flex-direction: column; align-items: center; background-color: seagreen;}
.hidden {display:none}

#monkeySvg {
    width: 30vw;
    height: auto;
}

#fur:hover+#face {
    filter: url(#pictureFilter)
}

#face:hover+#leftEye {
    fill: red;
}

#fur:hover {stroke:black}





/* #rightEye:hover {animation: grow 2s infinite alternate;
}

@keyframes grow {
    to {
        transform: scale(2,2);
    }
} */